body {
    font-family: sans-serif;
    font-size: 16px;
    color:#303846;
    line-height: 1.5;
    margin:0;
    padding:0;
    
}

h1 {
    font-size: 3em;
    margin-top:0;
    margin-bottom: 0;
}

h2 {
    font-size: 1.8em;
    margin-top:0;
    margin-bottom: 0.5em;
}

header {
    display: flex;
    box-sizing: border-box;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background:#fff;
    padding:5px 20px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img { 
    height: 40px;
}

.mr-right-15 {
    margin-right:15px;
}

.no-decoration {
    text-decoration: none;
    color:inherit;
}
